/**
!.gitignore
!WikiBookLocalSettings.php
!extensions/
!extensions/CanonicalNamespace/
!extensions/CanonicalNamespace/*
!extensions/NamespaceLocalLinks/
!extensions/NamespaceLocalLinks/*
!extensions/SuperPageTOC/
!extensions/SuperPageTOC/*
!extensions/SuperPageTOC/i18n/
!extensions/SuperPageTOC/i18n/*
!extensions/BookExport/
!extensions/BookExport/*
!extensions/ListArticleNamespaces/
!extensions/ListArticleNamespaces/*
